{% if items %}
<ul class="menu {{extra_classes}}" id="{{menu_id}}">
{% for item in items %}
  <li class="{{item.classes | join(' ')}}{% if item.children %} has-dropdown{% endif %}">
    <a href="{{item.link}}">{{item.title}}</a>
    {% include "menu.twig" with { 'items': item.children } %}
  </li>
{% endfor %}
</ul>
{% endif %}
