<div class="top-bar top-bar--simple" id="navigation">
	<div class="inner">

		<a href="{{site.url}}" class="logo-link">
			<img src="{{theme.link}}/assets/img/logo.png" alt="{{site.name}} Logo" class="logo desktop-only">
			<img src="{{theme.link}}/assets/img/logo-mobile.png" alt="{{site.name}} Logo" class="logo mobile-only">
			<h1 class="sr-only">{{site.name}}</h1>
		</a> <!-- .logo-link -->

	</div> <!-- .inner -->
</div> <!-- .top-bar -->